@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        ASP.NET MVC 5 perf test
        <small>scaffolded w/ EF 6</small>
    </h1>
</div>

@using (Html.BeginForm(Url.Action(MVC.Tests.BeginTest())))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Begin Test</button>
}